{% extends 'base.html' %} {% block content %} {% load static %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href=" {% url 'index.html' %} "><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Blog</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--typography-page -->
	<div class="container">
	{% for data in blog %}
			<div class="grid-container">
				<div class="item1" style="height:600px"><img src="media/{{ data.b_media }}" height="300px"width="350px"><br>
					<b style="font-size: 20px;color: navy;">
						<u style="padding: 1%;">{{ data.b_name }}</u>
					</b><br>
					<p style="height: 200px; font-family:Georgia, 'Times New Roman', Times, serif;" >{{ data.b_desc1 }}
						<a href="/secblog/{{ data.id }}" style="font-size: 22px;" ><b>Read more....</b></a>
					</p>
				</div>
			</div>
			{% endfor %}
			<br>
			<br>
			{% if request.session.log_user %}
				<form action = "{% url 'viewblg' %} " method="post" enctype="multipart/form-data" style="border: 1px solid white;width: 100%;background-image:url( {% static 'images/blbg.png' %} );">
					{% csrf_token %}
					<h1 style="text-align: center;color:#97ee0c;padding: 1%;">ADD&nbsp; BLOG</h1>
					<br>
					<input type="text" placeholder="Write Your Name" style="margin-left: 1%; width:98%;padding: 1%;" name="wr_name" required="" >
					<br><br>
					<input type="text" placeholder="Enter Subject" style="margin-left: 1%; width:98%;padding: 1%;" name="b_name" required="">
					<br><br>
					<textarea type="text" placeholder="Enter Blog Here" style="margin-left: 1%; width:98%;padding: 1%;min-height:150px;" name="b_desc1" required=""></textarea>
					<textarea type="text" placeholder="Enter Blog Here" style="margin-left: 1%; width:98%;padding: 1%;min-height:150px;" name="b_desc2" required=""></textarea>
					<br><br>
					<input type="file" id="file" accept="image/*" name="b_media"  >
					<label for="file" style="margin-left: 1%;padding: 1%;color:white;height:40px;width:200px;
						background-color: lightseagreen;position: absolute;
						font-size: 20px; display: flex;justify-content: center;
						align-items: center;cursor:pointer;font-family:Arial, Helvetica, sans-serif;">Upload Photo</label>
					<br>
					<br><br>
					<input type="submit" value="Submit" style="margin-left: 1%;padding: 1%;text-align: center;margin-bottom: 1%;" >
				</form>
			{% endif %}
		</div>
	</div>
	<br>
	<br>
<!-- //typography-page -->
{% endblock %}
