{% extends 'base.html' %} {% block content %} {% load static %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol
      class="breadcrumb breadcrumb1 animated wow slideInLeft"
      data-wow-delay=".5s"
    >
      <li>
        <a href=" {% url 'index.html' %} "
          ><span class="glyphicon glyphicon-home" aria-hidden="true"></span
          >Home</a
        >
      </li>
      <li class="active">Contact Us</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- mail -->
<div class="mail animated wow zoomIn" data-wow-delay=".5s">
  <div class="container">
    <h3>Contact Us</h3>
    <p class="est" style="color: white">
      If you have any questions or queries a member of staff will always be
      happy to help.<br />Feel free to contact us we will be sure to get back to
      you as soon as possible.
    </p>
    <div class="mail-grids">
      <div
        class="col-md-8 mail-grid-left animated wow slideInLeft"
        data-wow-delay=".5s"
      >
        <form action="/insertcontact" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="name"
            value="Name"
            onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Name';}"
            required=""
          />
          <input
            type="email"
            name="email"
            value="Email"
            onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Email';}"
            required=""
          />
          <input
            type="text"
            name="subject"
            value="Subject"
            onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Subject';}"
            required=""
          />
          <textarea
            name="msg"
            type="text"
            onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Message...';}"
            required=""
          >
Message...</textarea
          >
          <input type="submit" value="Submit Now" />
        </form>
      </div>
      <div
        class="col-md-4 mail-grid-right animated wow slideInRight"
        data-wow-delay=".5s"
      >
        <div class="mail-grid-right1">
          <img
            src=" {% static 'images/manager.png' %} "
            alt=" "
            class="img-responsive"
          />
          <h4>Julia Marie <span>Manager</span></h4>
          <ul class="phone-mail">
            <li>
              <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i
              >Phone: +91 12345 67890
            </li>
            <li>
              <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i
              >Email:
              <a href=" {% static 'mailto:info@example.com' %} "
                >fitzeeforhealth@gmail.com</a
              >
            </li>
          </ul>
          <ul class="social-icons">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100078447043673"
                ><img
                  src=" {% static 'images/face.png' %} "
                  height="42px"
                  width="42px"
                />
              </a>
              <a
                href="https://twitter.com/FitzeeH?t=FeZig36XOoYim0RNfjdv6Q&s=03"
                ><img
                  src=" {% static 'images/twitter.png' %} "
                  height="38px"
                  width="38px" /></a
              >&nbsp;
              <a href="https://www.instagram.com/fitzee_forhealth/"
                ><img
                  src=" {% static 'images/instagram.png' %} "
                  height="38px"
                  width="38px"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.656486968671!2d72.54448401495716!3d23.036381721592605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84ead1103329%3A0x1a907f7fee8b2b7f!2sGujarat%20University!5e0!3m2!1sen!2sin!4v1645612466402!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
<!-- //mail -->
{% endblock %}
