{% extends 'base.html' %} {% block content %} {% load static %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href=" {% url 'index.html' %} "><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
			</ol>
		</div>	</div>
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories animated wow slideInUp" data-wow-delay=".5s" style="margin-top: 3.5em;">
					<h3>Categories</h3>
					<ul class="cate">
						<li><a href="/productcatwise/1">Powder</a> </li>
						<li><a href="/productcatwise/2">Pill</a> </li>
						<li><a href="/productcatwise/3">Juice</a></li>
						<li><a href="/productcatwise/4">Tea</a></li>
						<li><a href="/productcatwise/5">Shake</a> </li>
					</ul>
				</div>
				<div class="new-products animated wow slideInUp" data-wow-delay=".5s">
					<h3>New Products</h3>
					<div class="new-products-grids">
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href=" /single/{{ data.id }}"><img src=" {% static 'images/diabetes1.jpg' %} " alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href=" /single/{{ data.id }} " style="color: white;">organic india sugar balance</a></h4>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">₹180</span><a class="item_add" href="#">add to cart </a></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href=" /single/{{ data.id }}" ><img src=" {% static 'images/bloodpressure2.jpg' %} " alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="/single/{{ data.id }}" style="color: white; ">Hibiscus and Nettle</a></h4>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">₹250</span><a class="item_add" href="#">add to cart </a></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="/single/{{ data.id }}" ><img src=" {% static 'images/obesity1.jpg' %} " alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href=" /single/{{ data.id }} " style="color: white;">Organic Obesity    Care Juice</a></h4>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">₹259</span><a class="item_add" href="#">add to cart </a></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 products-right">
				<div class="products-right-grid">
					<div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
					</div>
					<br>
					<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
					</div>
				</div>
				<div class="products-right-grids-bottom">
					<div class="row">
						{% for data in products %}
					<div class="col-md-4 products-right-grids-bottom-grid">
						<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s" style="border:4px solid rgb(240, 240, 240)">
							<div class="new-collections-grid1-image">
								<a href="/single/{{ data.id }}" class="product-image"><img src="/media/{{ data.i_photo }}" class="img-responsive"></a>
								<div class="new-collections-grid1-image-pos products-right-grids-pos">
									<a href="/single/{{ data.id }} ">Quick View</a>
								</div>
							</div>
							<h4 class="ab"><a href="/single/{{ data.id }}" style="height:40px">{{ data.i_name }}</a></h4>
							<div class="simpleCart_shelfItem products-right-grid1-add-cart">
								<p>
									<span class="item_price">₹{{ data.i_price }}</span><a class="item_add" href="/addtocart/{{ data.id }}">add to cart </a></p>
							</div>
						</div>
						</div>
							{% endfor %}
					</div>
					<div class="clearfix"> </div>
				</div>
				<nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
				  <ul class="pagination paging">
					<li>
					  <a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					  </a>
					</li>
					<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
					  <a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
				  </ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
{% endblock %}