{% extends 'base.html' %} {% block content %} {% load static %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href=" {% url 'index.html' %} "><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Diet</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<div class="products">
    <div class="container">

        <div class="col-md-4 products-left">

            <div class="categories animated wow slideInUp" data-wow-delay=".5s" style="margin-top:29%;">
                <h3>DAY DIET</h3>
                <ul class="cate">
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 1</a> </li> <!--PRODUNCTS.HTML-->
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 2</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 3</a> </li>
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 4</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 5</a> </li>
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 6</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 7</a> </li>
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 8</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 9</a> </li>
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 10</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 11</a> </li>
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 12</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 13</a> </li>
                    <li><a href="/nwldaywise/2"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 14</a> </li>
                    <li><a href="/nwldaywise/1"><img src=" {% static 'images/arrow.png' %} "> &nbsp;Day 15</a> </li>
                    
                        
                </ul>
            </div>
        </div>
        <div class="col-md-8 products-right"><br><br>
						<label style="margin-left:80%;color:white;font-size:1.4em">12 days left</label><br>
			<br>
            <div class="products-right-grids-bottom animated wow slideInRight" data-wow-delay=".5s">
                
                   {% for data in diet %}
                    <h2>{{ data.time_type }}</h2>
                    <table class="table table-hover">

                        <thead>
                            <tr>

                              <th>TIME</th>
                              <th>ITEM NAME</th>
                              <th>CALORIES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>{{ data.diet_time }}</td>
                              <td>{{ data.d_name }}</td>
                              <td>{{ data.calories }}</td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>{{ data.d_name2 }}</td>
                              <td>{{ data.calories2 }}</td>
                            </tr>

                        </tbody>
                    </table>

				{% endfor %}
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
{% endblock %}